@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,100,200,300,400,500);
@import url(https://fonts.googleapis.com/css?family=Ropa+Sans);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
body {
  background-color: #191919;
  font-family: Helvetica, Arial Black, sans;
}
#cover {
	position:fixed;
	left: 0px;
	top: 0px;
	z-index: -10;
}
#intro {
  color: white;
  text-align: center;
  vertical-align: middle;
  font-family: 'Source Sans Pro', sans-serif; 
  font-weight: lighter;

}


#hball-container {
  width: inherit;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

#ball {
  height: 0px;
  vertical-align: middle;
  z-index: 1;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 50% 0;
  border-radius: 50%;
  color: white;
  font-size: 40px;
  text-align: center;
  background-color: rgba(1,1,1,.5);
  font-family: 'Source Sans Pro', sans-serif; 
  font-weight: bold;
  margin-top: 20px;
}
